Options -Indexes +FollowSymLinks
RewriteEngine On

<Files ~ "^\.(htaccess|htpasswd)$">
order allow,deny
deny from all
</Files>
<Files ~ "^includes$">
order allow,deny
deny from all
</Files>

RewriteRule ^(.*).html$ /openbidstoronto/record.php?cn=$1
