Options -Indexes +FollowSymLinks
RewriteEngine On

<Files ~ "^\.(htaccess|htpasswd)$">
order allow,deny
deny from all
</Files>
<Files ~ "^mysql-vars.php$">
order allow,deny
deny from all
</Files>
<Files "\.pem$">
order allow,deny
deny from all
</Files>

RewriteRule ^(.*).html$ /torontobidsarchive/record.php?cn=$1
