<!-- <div class="container">

</div> -->
<div class="search-container">
  <div class="row top-search-item">
    <mat-form-field appearance="fill">
      <mat-label>Posting Date</mat-label>
      <mat-date-range-input
        [formGroup]="postingDate"
        [rangePicker]="postingDatePicker"
      >
        <input
          matStartDate
          formControlName="postingStart"
          placeholder="Start"
        />
        <input matEndDate formControlName="postingEnd" placeholder="End" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="postingDatePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #postingDatePicker></mat-date-range-picker>
  
      <mat-error
        *ngIf="
          postingDate.controls.postingStart.hasError('matStartDateInvalid')
        "
        >Invalid start date</mat-error
      >
      <mat-error
        *ngIf="postingDate.controls.postingEnd.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Closing Date</mat-label>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-date-range-input
        [formGroup]="closingDate"
        [rangePicker]="closingDatePicker"
      >
        <input
          matStartDate
          formControlName="closingStart"
          placeholder="Closing date range - start"
        />
        <input
          matEndDate
          formControlName="closingEnd"
          placeholder="Closing date range - end"
        />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="closingDatePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #closingDatePicker></mat-date-range-picker>
  
      <mat-error
        *ngIf="
          closingDate.controls.closingStart.hasError('matStartDateInvalid')
        "
        >Invalid start date</mat-error
      >
      <mat-error
        *ngIf="closingDate.controls.closingEnd.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
  </div>
  
  <div class="row">
    <ng-select 
      [items]="commodities$ | async"
      [bindLabel]="'name'"
      [bindValue]="'id'" 
      [(ngModel)]="selectedCommodity">
    </ng-select>
  </div>
  
  <!-- <div class="row">
    <ng-select [items]="divisions" 
           bindLabel="division" 
           bindValue="division" 
           [(ngModel)]="selectedDivision">
    </ng-select>
  </div> -->
  
  <div class="button-container">
    <div class="row button-item">
      <button type="submit">Search</button>
    </div>
  
    <div class="row button-item">
      <button type="submit">Reset</button>
    </div>
  </div>

</div>
