[Unit]
Description=Local test bids server
After=nginx.service mysql.service
Wants=nginx.service mysql.service

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/jrootham/dev/civictech/toronto-bids/app/server/toronto-bids/toronto-bids/target/uberjar
ExecStart=/usr/bin/java -jar toronto-bids.jar test_bids 4000

[Install]
WantedBy=multi-user.target
