[Unit]
Description=Test bids front end test
After=nginx.service mysql.service
Wants=nginx.service mysql.service

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/jrootham/test-bids/bin/
ExecStart=/usr/bin/java -jar frontend.jar http://jrootham.ca/test-bids/api/ 8201 ""

[Install]
WantedBy=multi-user.target
