azure_storage==0.37.0
beautifulsoup4==4.11.2
google_api_python_client==2.82.0
google_auth_oauthlib==1.0.0
pandas==1.5.3
protobuf==4.23.2
python_magic==0.4.27
Requests==2.31.0
selenium==4.9.1
slack_sdk==3.21.3
webdriver_manager==3.8.5
