<!-- <div class="container">

</div> -->
<div class="search-container">
  <div class="row header">
    <span>Toronto Bids Archives</span>
  </div>

  <div class="row form-group">
    <div class="row">
      <span class="label">Posting Date Range (MM/DD/YYYY)</span>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="form-border">
        <mat-date-range-input
          [formGroup]="closingDate"
          [rangePicker]="closingDatePicker"
        >
          <input
            matStartDate
            class="date-range-input"
            placeholder="Start date"
          />
          <input matEndDate class="date-range-input" placeholder="End date" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          #toggleClosingDate
          [hidden]="false"
          matIconSuffix
          [for]="closingDatePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #closingDatePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <div class="row form-group">
    <div class="row">
      <span class="label">Closing Date Range (MM/DD/YYYY)</span>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="form-border">
        <mat-date-range-input
          [formGroup]="postingDate"
          [rangePicker]="postingDatePicker"
        >
          <input
            matStartDate
            class="date-range-input"
            formControlName="postingStart"
            placeholder="Start"
          />
          <input
            matEndDate
            class="date-range-input"
            formControlName="postingEnd"
            placeholder="End"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="postingDatePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #postingDatePicker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <div class="row form-group">
    <div class="row">
      <span class="label">Divisions</span>
    </div>
    <ng-select class="search-dropdown" [(ngModel)]="selectedDivision">
      <ng-option *ngFor="let div of divisions" [value]="div.id">{{
        div.division
      }}</ng-option>
    </ng-select>
  </div>

  <div class="row form-group">
    <div class="row">
      <span class="label">Offer Type</span>
    </div>
    <ng-select class="search-dropdown" [(ngModel)]="selectedType">
      <ng-option *ngFor="let type of offerTypes" [value]="type.id">{{
        type.type
      }}</ng-option>
    </ng-select>
  </div>

  <div class="row form-group">
    <div class="row">
      <span class="label">Commodity</span>
    </div>
    <ng-select class="search-dropdown" [(ngModel)]="selectedCommodity">
      <ng-option *ngFor="let comm of commodities" [value]="comm.value">{{
        comm.display
      }}</ng-option>
    </ng-select>
  </div>

  <div class="row form-group">
    <div class="row">
      <span class="label">Commodity Sub Type</span>
    </div>
    <ng-select class="search-dropdown" [(ngModel)]="selectedCommodity">
      <ng-option
        *ngFor="let subComm of commoditySubTypes.get(selectedCommodity)"
        [value]="subComm.id"
        >{{ subComm.commodity_type }}</ng-option
      >
    </ng-select>
  </div>
</div>
