html, body, #outer, #wrapper
{
	height: 100%;
}

body
{
	margin: 0;
	font-family: sans-serif;
}

#wrapper
{
	display: flex;
}

@media (max-width: 1000px) {
	#wrapper {
		flex-direction: column;
	}
}

#title
{
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
	margin-bottom: 1.5em;
}

#iframe-outer
{
	margin: 2em;
}

#contents
{
	width: 100%;
	height: inherit;
	border: none;
}

#select
{
	background: #eee;
	padding: 2em;
}

#select form div
{
	margin-bottom: 1em;
}

#select .label
{
	margin-bottom: 0;
	color: #444;
}

#select select, .search
{
	width: 100%;
}

.button
{
	display: inline;
	margin-right: 1em;
}

.calllink
{
	color: black;
	text-decoration: none;
}

.call
{
	margin-bottom: 2em;
	padding: 1em;
	border: 1px solid lightgray;
	border-radius: 1em;
	box-shadow: 4px 4px 5px gray;
}

.call form
{
	float: right;
	position: relative;
	bottom: 1.2em;
}

.datecall
{
	text-align: right;
	float: right;
	margin-left: 3em;
}

.itemtype
{
	margin-top: 1em;
}

.itemdesc
{
	font-size: x-large;
	font-weight: bold;
	margin-top: 0.5em;
}

.itemcom
{
	display: inline-block;
	margin-right: 1em;
	font-size: small;
}

.itemcat, .callno
{
	font-size: small;
}

.forward
{
	float: right;
}

.back, .forward
{
	font-size: x-large;
	text-decoration: none;
}
