body
{
	background: lightskyblue;
}

#title
{
	text-align: center;
	font-size: x-large;
	font-family: sans-serif;
}

#wrapper
{
	display: grid;
	grid-template-columns: 500px 1250px;
}

#contents
{
	width: 1250px;
	height: 900px;
}

#select
{
}

#container
{
}

.item
{
	display: inline-block;
	padding-right: 10px;
}

.call
{
	padding-top: 20px;
}

